.eventsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.eventBox{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    width: 630px;
    padding: 12px 20px 10px 12px;
    background-color: rgb(241, 241, 241);
}
.leftPart .image{
    border-radius: 4px;
}
.rightPart{
    width: 280px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    padding: 20px 0px;
}
.rightPart h3{
    margin: 0px;
}
.rightPart .title{
    font-size: 1.1rem;
    /* margin-top: 10px; */
    /* margin-bottom: 30px; */
}
.rightPart .dateLocation{
    color: #20407D;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.rightPart .date{
    font-size: .8rem;
    margin-bottom: 5px;
}
.rightPart .location{
    font-size: .83rem;
}
.buttonBox{
    /* border: 1px solid red; */
    
}
.button{
    /* background-color: #EA2330; */
    background-color: #11b84c;
    color: white;
    display: inline-block;
    padding: 6px 15px;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    font-weight: 600;
    font-size: .85rem;
}
.button2{
    background-color: #11b84c;
    color: white;
    display: inline-block;
    padding: 7px 19px;
    cursor: pointer;
    border-radius: 3px;
    float: right;
    font-weight: 600;
    font-size: .75rem;
    border: 0px;
    margin-left: 59px;
}
.button3{
    /* background-color: #EA2330; */
    background-color: #11b84c;
    color: white;
    display: inline-block;
    padding: 6px 15px;
    font-size: .9rem;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: .85rem;
}
.postBtn, .cancelBtn{
    background-color: #3469cd;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: .85rem;
    border: 0px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.cancelBtn{
    background-color: rgb(159, 50, 7);
}
.button5{
    background-color: #11B84C;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: .85rem;
    border: 0px;
    margin-top: 12px;
}
.showEventBox{
    text-align: center;
    margin-bottom: 20px;
}
.center{
    text-align: center;
}
.eventDetailsContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventDetailsBox{
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px 12px 10px 12px;
    background-color: rgb(241, 241, 241);
    flex-direction: column;
}
.eventDetailsBox .rightPart{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}
.eventDetailsBox .rightPart p{
    font-size: .8rem;
    text-align: justify;
}
.eventDetailsBox .rightPart .dateLocation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* EventForm ---------------------------------------------*/
.eventFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.eventFormContainer form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #6BCF8E; */
    background-color: #2580db;
    color: white;
    padding: 8px 22px;
    border-radius: 6px;
}
.eventFormContainer form div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}
.eventFormContainer form div select{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 15px;
    margin-left: 10px;
    outline: none;
}

/* Comment Form ----------------------------------------------- */
.commentFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
.commentFormContainer form{
    /* background-color: #fd9393; */
    /* background-color: #71b3ff; */
    background-color: #82d09d;
    width: 525px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 30px;
}
.commentFormContainer form label{
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: white;
}
.halfInputs{
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.halfInput{
    width: 215px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.halfInput input{
    padding:6px 20px;
    border-radius: 3px;
    border: 0px;
    font-size: .8rem;
    outline: none;
}
.fullInput{
    width: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.fullInput textarea{
    padding: 15px 20px;
    outline: none;
    resize: none;
    border-radius: 3px;
    border: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.textarea::-webkit-scrollbar{
    width: .3em;
}
.textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}
.textarea::-webkit-scrollbar-thumb {
  background-color: rgb(201, 201, 201);
  border-radius: 8px;
}
.textarea::-webkit-scrollbar-track {
    margin-top: 3px;
    margin-bottom: 3px;
  }

/* comments --------------------------------- */
.commentsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.commentsBox{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.commentsBox li{
    list-style: none;
}
.comment{
    width: 100%;
    padding: 8px 25px;
    display: flex;
}
.comment .commentDp{
    margin-top: 2px;
}
.comment .commentMessage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3px;
    background-color: rgb(235, 235, 235);
    padding: 6px 10px 8px 6px;
    border-radius: 8px;
}
.comment .commentMessage .authorName{
    margin-left: 10px;
    font-weight: 600;
    font-size: .85rem;
}
.comment .commentMessage .authorMessage{
    margin-left: 10px;
    font-size: .82rem;
    color: rgb(82, 82, 82);
}
.error{
    color: white;
    font-weight: 700;
    background-color: rgb(143, 88, 88);
    padding: 18px 90px;
    border-radius: 8px;
}

@media (max-width: 675px){
    .eventFormContainer form{
        padding: 8px 22px;
        border-radius: 6px;
        width: 360px;
    }
    .eventFormContainer form div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
    }
    .eventFormContainer form div select{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 5px;
        font-size: .7rem;
        margin-left: 7px;
        outline: none;
        width: 50px;
    }
    .eventFormContainer form label{
        font-size: .75rem;
        font-weight: 700;
    }
    .eventFormContainer .button2{
        padding: 7px 8px;
        font-size: .65rem;
        margin-left: 25px;

    }

    .eventBox{
        margin: 10px 0px;
        flex-direction: column;
        border-radius: 8px;
        width: 350px;
        padding: 12px 12px 12px 12px;
        background-color: rgb(241, 241, 241);
    }
    .leftPart .image{
        border-radius: 4px;
        width: 100%;
        height: 250px;
    }
    .buttonBox{
        text-align: center;
        width: 320px;
    }
    .button{
        margin-top: 20px;
        float: none;
    }
    .eventDetailsBox{
        margin: 10px 20px;
    }
}
@media (max-width: 565px) {
    .commentFormContainer form{
        /* background-color: #fd9393; */
        /* background-color: #71b3ff; */
        background-color: #82d09d;
        width: 350px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 25px 30px;
    }
    .commentFormContainer form label{
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: 5px;
        color: white;
    }
    .halfInputs{
        display: flex;
        width: 310px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .halfInput{
        width: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .halfInput input{
        padding:4px 12px;
    }
    .fullInput{
        width: 311px;
        }
    .fullInput textarea{
        padding: 10px 14px;
        outline: none;
        resize: none;
        border-radius: 5px;
    }
}