/* NavBar Styles ----------------------------------------------------------- */
.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 20px 30px;
    /* background-color: black; */
    /* background-color: rgb(7, 116, 45); */
    background-color: #20407D;
}
.leftPart{
    width: 50%;
    color: white;
}
.rightPart{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.logo{
    margin: 0px;
}
.button{
    display: inline-block;
    padding: 6px 16px;
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: .9rem;
    font-weight: 600;
}
.head{
    color: rgb(0, 119, 255);
}
.center{
    text-align: center;
}
.errorAlertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.errorAlertBox{
    display: inline-block;
    width: 400px;
    padding: 20px 30px;
    background-color: rgb(246, 122, 122);
    border-radius: 6px;
    color: rgb(137, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoHeading{
    /* position: absolute; */
    /* left: 0px; */
    /* right: 0px; */
    /* top: 0px; */
    /* bottom: 0px; */
    /* margin: 280px auto; */
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;

}
.newsletterForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.newsletterForm form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletterForm form label{
    margin-bottom: 10px;
}
.newsletterForm form input{
    padding: 6px 20px;
    width: 300px;
}
.newsletterForm form button{
    padding: 8px 18px;
    margin-left: 4px;
    background-color: #0077FF;
    color: white;
    border: 0px;
    border-radius: 6px;
    font-weight: 700;
}

.notificationContainer{
    /* background-color: #DC4C64; */
    /* background-color: #14A44D; */
    /* background-color: #3B71CA; */
    
    min-height: 65px;
    /* width: 100%; */
    width: 300px;
    position: fixed;
    top: 55px;
    right: 30px;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
}
.notificationContainer .notificationTitle{
    font-weight: 700;
}
.notificationContainer .notificationMessage{
    font-size: .9rem;
}
.error{
    background-color: #DC4C64;
}
.success{
    background-color: #14A44D;
}
.pending{
    background-color: #3B71CA;
}

@media (max-width: 450px){
    
    .newsletterForm form input{
        padding: 6px 20px;
        width: 260px;
    }
    .newsletterForm form button{
        padding: 8px 14px;
    }
    .newsletterForm form label{
        font-size: .9rem;
        font-weight: 600;
    }
}